# じゃらんデータ整備のためにサンプルデータを作る

## データの読み込み

In [1]:
import csv
# csv_file出力
import os
import pandas as pd
# Shift-JIS 形式の CSV ファイル (employee.sjis.csv) して出力
# df.to_csv("employee.sjis.csv", encoding="shift_jis")
# csvを開く。

os.chdir("D:\じゃらん宿泊データ\original_data")

csv_file_name = "hotel_res2021-04-01.csv"
columns = ["エリアコード","宿コード","データ取得日","チェックイン日","プランコード","価格","部屋情報","朝食の有無","夕食の有無","チェックイン時刻","チェックアウト時刻","プラン提供開始日","プラン提供終了日","イメージ画像URL","画像キャプション","残り部屋数"]

df = pd.read_csv(csv_file_name,names=(columns))
df.head()

,エリアコード,宿コード,データ取得日,チェックイン日,プランコード,価格,部屋情報,朝食の有無,夕食の有無,チェックイン時刻,チェックアウト時刻,プラン提供開始日,プラン提供終了日,イメージ画像URL,画像キャプション,残り部屋数
0,10202,300206,2021-04-01,2021-04-01,630738,3600,【1名利用】ダブルorツインルーム 2020年2月リニューアル済,0,0,15:00,11:00,20080916,20220228,https://www.jalan.net/jalan/images/pictM/Y6/Y3...,ダブルルーム ベッド幅140cm,NaN
1,10202,300206,2021-04-01,2021-04-01,630738,3700,禁煙ダブルルーム 2020年客室リニューアル完了（15～17平米）,0,0,15:00,11:00,20111118,20220228,https://www.jalan.net/jalan/images/pictM/Y6/Y3...,ダブルルーム ベッド幅140cm,NaN
2,10202,300206,2021-04-01,2021-04-01,630738,4100,禁煙ツインルーム 2020年客室リニューアル完了（18平米）,0,0,15:00,11:00,20080916,20220228,https://www.jalan.net/jalan/images/pictM/Y6/Y3...,ツインルーム ベッド幅120cm,6.0
3,10202,302905,2021-04-01,2021-04-01,3102459,8000,リニューアルフロア・ツイン/アーバン＜２３平米＞,0,0,15:00,11:00,20210220,20210531,https://www.jalan.net/jalan/images/pictM/Y5/Y3...,期間限定＆室数限定のお得なプラン♪,2.0
4,10202,302905,2021-04-01,2021-04-01,3102459,8000,スタンダードフロア・ツイン＜アーバンルーム＞２３平米,0,0,15:00,11:00,20210220,20210531,https://www.jalan.net/jalan/images/pictM/Y5/Y3...,期間限定＆室数限定のお得なプラン♪,2.0

In [4]:
df.tail()

,エリアコード,宿コード,データ取得日,チェックイン日,プランコード,価格,部屋情報,朝食の有無,夕食の有無,チェックイン時刻,チェックアウト時刻,プラン提供開始日,プラン提供終了日,イメージ画像URL,画像キャプション,残り部屋数
10134750,471723,382544,2021-04-01,2021-04-28,2317959,4320,シングルダブル,0,0,11:00,10:00,20170612,20210831,https://www.jalan.net/jalan/images/pictM/Y4/Y3...,ダブル,5.0
10134751,471723,382544,2021-04-01,2021-04-29,2369744,4320,シングルダブル,0,0,11:30,10:00,20171005,20210831,https://www.jalan.net/jalan/images/pictM/Y4/Y3...,☆格安レンタカー・レンタルバイクで南大東島満喫☆,5.0
10134752,471723,382544,2021-04-01,2021-04-29,2317959,4320,シングルダブル,0,0,11:00,10:00,20170612,20210831,https://www.jalan.net/jalan/images/pictM/Y4/Y3...,ダブル,5.0
10134753,471723,382544,2021-04-01,2021-04-30,2369744,4320,シングルダブル,0,0,11:30,10:00,20171005,20210831,https://www.jalan.net/jalan/images/pictM/Y4/Y3...,☆格安レンタカー・レンタルバイクで南大東島満喫☆,3.0
10134754,471723,382544,2021-04-01,2021-04-30,2317959,4320,シングルダブル,0,0,11:00,10:00,20170612,20210831,https://www.jalan.net/jalan/images/pictM/Y4/Y3...,ダブル,3.0

## データを10000行だけ抽出

In [5]:
# df_sample = df.iloc[:10000]
df_sample = df.copy()

## テキストをまとめて元のデータを削除

In [6]:
text = df_sample["部屋情報"] + df_sample["画像キャプション"]
df_s_text = pd.DataFrame(text,columns=["text"])
df_s_text

                                                       text
0          【1名利用】ダブルorツインルーム　2020年2月リニューアル済ダブルルーム　ベッド幅140cm
1         　禁煙ダブルルーム　2020年客室リニューアル完了（15～17平米）ダブルルーム　　ベッド幅...
2          禁煙ツインルーム　2020年客室リニューアル完了（18平米）ツインルーム　　　ベッド幅120cm
3                 リニューアルフロア・ツイン/アーバン＜２３平米＞期間限定＆室数限定のお得なプラン♪
4               スタンダードフロア・ツイン＜アーバンルーム＞２３平米期間限定＆室数限定のお得なプラン♪
...                                                     ...
10134750                                         シングルダブルダブル
10134751                    シングルダブル☆格安レンタカー・レンタルバイクで南大東島満喫☆
10134752                                         シングルダブルダブル
10134753                    シングルダブル☆格安レンタカー・レンタルバイクで南大東島満喫☆
10134754                                         シングルダブルダブル

[10134755 rows x 1 columns]

In [7]:
df_s = df_sample.drop(columns=["部屋情報","イメージ画像URL","画像キャプション"])
df_s = pd.concat([df_s, df_s_text], axis=1)
df_s

,エリアコード,宿コード,データ取得日,チェックイン日,プランコード,価格,朝食の有無,夕食の有無,チェックイン時刻,チェックアウト時刻,プラン提供開始日,プラン提供終了日,残り部屋数,text
0,10202,300206,2021-04-01,2021-04-01,630738,3600,0,0,15:00,11:00,20080916,20220228,NaN,【1名利用】ダブルorツインルーム 2020年2月リニューアル済ダブルルーム ベッド幅140cm
1,10202,300206,2021-04-01,2021-04-01,630738,3700,0,0,15:00,11:00,20111118,20220228,NaN,禁煙ダブルルーム 2020年客室リニューアル完了（15～17平米）ダブルルーム ベッド幅...
2,10202,300206,2021-04-01,2021-04-01,630738,4100,0,0,15:00,11:00,20080916,20220228,6.0,禁煙ツインルーム 2020年客室リニューアル完了（18平米）ツインルーム ベッド幅120cm
3,10202,302905,2021-04-01,2021-04-01,3102459,8000,0,0,15:00,11:00,20210220,20210531,2.0,リニューアルフロア・ツイン/アーバン＜２３平米＞期間限定＆室数限定のお得なプラン♪
4,10202,302905,2021-04-01,2021-04-01,3102459,8000,0,0,15:00,11:00,20210220,20210531,2.0,スタンダードフロア・ツイン＜アーバンルーム＞２３平米期間限定＆室数限定のお得なプラン♪
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10134750,471723,382544,2021-04-01,2021-04-28,2317959,4320,0,0,11:00,10:00,20170612,20210831,5.0,シングルダブルダブル
10134751,471723,382544,2021-04-01,2021-04-29,2369744,4320,0,0,11:30,10:00,20171005,20210831,5.0,シングルダブル☆格安レンタカー・レンタルバイクで南大東島満喫☆
10134752,471723,382544,2021-04-01,2021-04-29,2317959,4320,0,0,11:00,10:00,20170612,20210831,5.0,シングルダブルダブル
10134753,471723,382544,2021-04-01,2021-04-30,2369744,4320,0,0,11:30,10:00,20171005,20210831,3.0,シングルダブル☆格安レンタカー・レンタルバイクで南大東島満喫☆
10134754,471723,382544,2021-04-01,2021-04-30,2317959,4320,0,0,11:00,10:00,20170612,20210831,3.0,シングルダブルダブル

In [80]:
len(df_s)

10000

## フラグの追加

#やや遅い
kinnen = []
kitsuen = []
wa = []
yo = []
wayo = []
single = []
semidouble = []
double = []
twin = []
tri = []
omakase = []
renpaku = []

for text in df_s["text"]:
    text = str(text)
    kinnen.append(int("禁煙" in text))
    kitsuen.append(int("喫煙" in text))
    wa.append(int("和室" in text))
    yo_wa = int("和洋室" in text) + int("洋室" in text)
    if yo_wa == 2:
        wayo.append(1)
        yo.append(0)
    elif yo_wa == 1:
        wayo.append(0)
        yo.append(1)
    else:
        wayo.append(0)
        yo.append(0)
    single.append(int("シングル" in text))
    semi_dou = int("セミダブル" in text) + int("ダブル" in text)
    if semi_dou == 2:
        semidouble.append(1)
        double.append(0)
    elif semi_dou == 1:
        semidouble.append(0)
        double.append(1)
    else:
        semidouble.append(0)
        double.append(0)        
    twin.append(int("ツイン" in text))
    tri.append(int("トリプル" in text))
    omakase.append(int("おまかせ" in text))
    renpaku.append(int("連泊" in text))

#print(kinnen)
#print(kituen)
df_kinnen = pd.DataFrame(kinnen,columns=["禁煙"])
df_kitsuen = pd.DataFrame(kitsuen,columns=["喫煙"])
df_wa =  pd.DataFrame(wa,columns=["和室"])
df_yo =  pd.DataFrame(yo,columns=["洋室"])
df_wayo =  pd.DataFrame(wayo,columns=["和洋室"])
df_single =  pd.DataFrame(single,columns=["シングル"])
df_semidouble =  pd.DataFrame(semidouble,columns=["セミダブル"])
df_double =  pd.DataFrame(double,columns=["ダブル"])
df_twin =  pd.DataFrame(twin,columns=["ツイン"])
df_tri =  pd.DataFrame(tri,columns=["トリプル"])
df_omakase =  pd.DataFrame(omakase,columns=["おまかせ"])
df_renpaku = pd.DataFrame(renpaku,columns=["連泊"])
df_s = pd.concat([df_s,df_kinnen,df_kitsuen,df_wa,df_yo,df_wayo,df_single,df_semidouble,df_double,df_twin,df_tri,df_omakase,df_renpaku], axis=1)
df_s = df_s.drop(columns="text")
df_s

In [8]:
# こっちの方が20%速い
import numpy as np

kinnen = []
kitsuen = []
wa = []
yo = []
wayo = []
single = []
semidouble = []
double = []
twin = []
tri = []
omakase = []
renpaku = []

for text in df_s["text"]:
    text = str(text)
    kinnen.append(int("禁煙" in text))
    kitsuen.append(int("喫煙" in text))
    wa.append(int("和室" in text))
    yo_wa = int("和洋室" in text) + int("洋室" in text)
    if yo_wa == 2:
        wayo.append(1)
        yo.append(0)
    elif yo_wa == 1:
        wayo.append(0)
        yo.append(1)
    else:
        wayo.append(0)
        yo.append(0)
    single.append(int("シングル" in text))
    semi_dou = int("セミダブル" in text) + int("ダブル" in text)
    if semi_dou == 2:
        semidouble.append(1)
        double.append(0)
    elif semi_dou == 1:
        semidouble.append(0)
        double.append(1)
    else:
        semidouble.append(0)
        double.append(0)        
    twin.append(int("ツイン" in text))
    tri.append(int("トリプル" in text))
    omakase.append(int("おまかせ" in text))
    renpaku.append(int("連泊" in text))
add_list = [kinnen,kitsuen,wa,yo,wayo,single,semidouble,double,twin,tri,omakase,renpaku]
add_list = np.array(add_list).T
df_add = pd.DataFrame(add_list,columns = ["禁煙","喫煙","和室","洋室","和洋室","シングル","セミダブル","ダブル","ツイン","トリプル","おまかせ","連泊"])
df_s = pd.concat([df_s,df_add], axis=1)
df_s = df_s.drop(columns="text")
df_s

,エリアコード,宿コード,データ取得日,チェックイン日,プランコード,価格,朝食の有無,夕食の有無,チェックイン時刻,チェックアウト時刻,...,和室,洋室,和洋室,シングル,セミダブル,ダブル,ツイン,トリプル,おまかせ,連泊
0,10202,300206,2021-04-01,2021-04-01,630738,3600,0,0,15:00,11:00,...,0,0,0,0,0,1,1,0,0,0
1,10202,300206,2021-04-01,2021-04-01,630738,3700,0,0,15:00,11:00,...,0,0,0,0,0,1,0,0,0,0
2,10202,300206,2021-04-01,2021-04-01,630738,4100,0,0,15:00,11:00,...,0,0,0,0,0,0,1,0,0,0
3,10202,302905,2021-04-01,2021-04-01,3102459,8000,0,0,15:00,11:00,...,0,0,0,0,0,0,1,0,0,0
4,10202,302905,2021-04-01,2021-04-01,3102459,8000,0,0,15:00,11:00,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10134750,471723,382544,2021-04-01,2021-04-28,2317959,4320,0,0,11:00,10:00,...,0,0,0,1,0,1,0,0,0,0
10134751,471723,382544,2021-04-01,2021-04-29,2369744,4320,0,0,11:30,10:00,...,0,0,0,1,0,1,0,0,0,0
10134752,471723,382544,2021-04-01,2021-04-29,2317959,4320,0,0,11:00,10:00,...,0,0,0,1,0,1,0,0,0,0
10134753,471723,382544,2021-04-01,2021-04-30,2369744,4320,0,0,11:30,10:00,...,0,0,0,1,0,1,0,0,0,0
10134754,471723,382544,2021-04-01,2021-04-30,2317959,4320,0,0,11:00,10:00,...,0,0,0,1,0,1,0,0,0,0

In [82]:
df_s.describe()

,エリアコード,宿コード,プランコード,価格,朝食の有無,夕食の有無,プラン提供開始日,プラン提供終了日,残り部屋数,禁煙,...,和室,洋室,和洋室,シングル,セミダブル,ダブル,ツイン,トリプル,おまかせ,連泊
count,10000.0,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,1.000000e+04,1.000000e+04,7381.000000,10000.00000,...,10000.00000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.0
mean,10202.0,333842.110400,2.554062e+06,11392.887600,0.514500,0.026800,2.018554e+07,2.021360e+07,3.511313,0.62940,...,0.00580,0.009200,0.00110,0.240200,0.042900,0.243700,0.401900,0.00990,0.010000,0.0
std,0.0,23587.318207,7.109131e+05,11036.929662,0.499815,0.161507,3.198326e+04,4.251870e+03,2.129936,0.48299,...,0.07594,0.095479,0.03315,0.427226,0.202642,0.429335,0.490306,0.09901,0.099504,0.0
min,10202.0,300206.000000,9.798000e+03,1800.000000,0.000000,0.000000,2.007022e+07,2.021040e+07,1.000000,0.00000,...,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0
25%,10202.0,321150.000000,2.349554e+06,6000.000000,0.000000,0.000000,2.018041e+07,2.021083e+07,2.000000,0.00000,...,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0
50%,10202.0,326891.000000,2.866070e+06,8300.000000,1.000000,0.000000,2.020052e+07,2.021103e+07,3.000000,1.00000,...,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0
75%,10202.0,340127.000000,3.060187e+06,12500.000000,1.000000,0.000000,2.021011e+07,2.022013e+07,5.000000,1.00000,...,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.0
max,10202.0,398940.000000,3.144670e+06,165000.000000,1.000000,1.000000,2.021040e+07,2.022033e+07,9.000000,1.00000,...,1.00000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,0.0

In [9]:
df_630738	 = df_s[df_s['プランコード'] == 630738]
print(df_630738)

        エリアコード    宿コード      データ取得日     チェックイン日  プランコード    価格  朝食の有無  夕食の有無  \
0        10202  300206  2021-04-01  2021-04-01  630738  3600      0      0
1        10202  300206  2021-04-01  2021-04-01  630738  3700      0      0
2        10202  300206  2021-04-01  2021-04-01  630738  4100      0      0
6206     10202  300206  2021-04-01  2021-04-02  630738  3600      0      0
6207     10202  300206  2021-04-01  2021-04-02  630738  3700      0      0
...        ...     ...         ...         ...     ...   ...    ...    ...
244730   10202  300206  2021-04-01  2021-04-29  630738  5100      0      0
244732   10202  300206  2021-04-01  2021-04-29  630738  5600      0      0
254133   10202  300206  2021-04-01  2021-04-30  630738  5600      0      0
254134   10202  300206  2021-04-01  2021-04-30  630738  6100      0      0
254136   10202  300206  2021-04-01  2021-04-30  630738  6600      0      0

       チェックイン時刻 チェックアウト時刻  ...  和室  洋室  和洋室  シングル  セミダブル  ダブル  ツイン  トリプル  \
0         15:00     11:00  ...   0   0    0     0      0    1    1     0
1         15:00     11:00  ...   0   0    0     0      0    1    0     0
2         15:00     11:00  ...   0   0    0     0      0    0    1     0
6206      15:00     11:00  ...   0   0    0     0      0    1    1     0
6207      15:00     11:00  ...   0   0    0     0      0    1    0     0
...         ...       ...  ...  ..  ..  ...   ...    ...  ...  ...   ...
244730    15:00     11:00  ...   0   0    0     0      0    1    0     0
244732    15:00     11:00  ...   0   0    0     0      0    0    1     0
254133    15:00     11:00  ...   0   0    0     0      0    1    1     0
254134    15:00     11:00  ...   0   0    0     0      0    1    0     0
254136    15:00     11:00  ...   0   0    0     0      0    0    1     0

        おまかせ  連泊
0          0   0
1          0   0
2          0   0
6206       0   0
6207       0   0
...      ...  ..
244730     0   0
244732     0   0
254133     0   0
254134     0   0
254136     0   0

[90 rows x 25 columns]

## プランコードを作成する。

In [84]:
df_s.columns

Index(['エリアコード', '宿コード', 'データ取得日', 'チェックイン日', 'プランコード', '価格', '朝食の有無', '夕食の有無',
       'チェックイン時刻', 'チェックアウト時刻', 'プラン提供開始日', 'プラン提供終了日', '残り部屋数', '禁煙', '喫煙',
       '和室', '洋室', '和洋室', 'シングル', 'セミダブル', 'ダブル', 'ツイン', 'トリプル', 'おまかせ', '連泊'],
      dtype='object')

In [10]:
plan_code_columns = ['朝食の有無','夕食の有無','チェックイン時刻','チェックアウト時刻','プラン提供開始日', 'プラン提供終了日', '禁煙','喫煙','和室','洋室', '和洋室', 'シングル', 'セミダブル', 'ダブル', 'ツイン', 'トリプル', 'おまかせ', '連泊']

In [11]:
code = df_s['プランコード'].astype(str)
for columns_name in plan_code_columns:
    code = code + df_s[columns_name].astype(str)
df_code = pd.DataFrame(code,columns=["gen_plan_code"])
df_code

                                            gen_plan_code
0          6307380015:0011:002008091620220228000000011000
1          6307380015:0011:002011111820220228100000010000
2          6307380015:0011:002008091620220228100000001000
3         31024590015:0011:002021022020210531000000001000
4         31024590015:0011:002021022020210531000000001000
...                                                   ...
10134750  23179590011:0010:002017061220210831000001010000
10134751  23697440011:3010:002017100520210831000001010000
10134752  23179590011:0010:002017061220210831000001010000
10134753  23697440011:3010:002017100520210831000001010000
10134754  23179590011:0010:002017061220210831000001010000

[10134755 rows x 1 columns]

In [12]:
df_s = df_s.drop(columns=['プランコード','朝食の有無','夕食の有無','チェックイン時刻','チェックアウト時刻','プラン提供開始日', 'プラン提供終了日','禁煙','喫煙','和室','洋室', '和洋室', 'シングル', 'セミダブル', 'ダブル', 'ツイン', 'トリプル', 'おまかせ', '連泊'])
df_s = pd.concat([df_s, df_code], axis=1)
df_s

,エリアコード,宿コード,データ取得日,チェックイン日,価格,残り部屋数,gen_plan_code
0,10202,300206,2021-04-01,2021-04-01,3600,NaN,6307380015:0011:002008091620220228000000011000
1,10202,300206,2021-04-01,2021-04-01,3700,NaN,6307380015:0011:002011111820220228100000010000
2,10202,300206,2021-04-01,2021-04-01,4100,6.0,6307380015:0011:002008091620220228100000001000
3,10202,302905,2021-04-01,2021-04-01,8000,2.0,31024590015:0011:002021022020210531000000001000
4,10202,302905,2021-04-01,2021-04-01,8000,2.0,31024590015:0011:002021022020210531000000001000
...,...,...,...,...,...,...,...
10134750,471723,382544,2021-04-01,2021-04-28,4320,5.0,23179590011:0010:002017061220210831000001010000
10134751,471723,382544,2021-04-01,2021-04-29,4320,5.0,23697440011:3010:002017100520210831000001010000
10134752,471723,382544,2021-04-01,2021-04-29,4320,5.0,23179590011:0010:002017061220210831000001010000
10134753,471723,382544,2021-04-01,2021-04-30,4320,3.0,23697440011:3010:002017100520210831000001010000
10134754,471723,382544,2021-04-01,2021-04-30,4320,3.0,23179590011:0010:002017061220210831000001010000

## サンプルデータをcsvファイルで保存

In [13]:
os.chdir("D:\じゃらん宿泊データ\sample_data")
df_s.to_csv(csv_file_name)